{{ define "main" }}
    <!-- Ranges through content/projects/*.md -->
    {{ range .Pages }}

        <h1 class="title"><a href="{{.Permalink}}">{{ .Title}}</a></h1>
        {{ if .Params.srcURL }}
            {{ $srcUrl := .Params.srcUrl}}
            {{ $srcSpec := strings.TrimPrefix "http://" (strings.TrimPrefix "https://" .Params.srcUrl)}}
            <h6 class="subtitle src-link">source: <a href="{{$srcUrl}}" target="_blank" rel="noopener noreferrer">{{$srcSpec}}</a></h6>
        {{ end }}

        {{ $projectPosts := where .Site.RegularPages "Params.projects" "intersect" (slice .Params.project)}}   
        <h6 class="subtitle">posts: <a href="{{.Permalink}}#project-posts">{{len $projectPosts}}</a></h6>
    {{ end }}

{{ end }}