<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
    <div class="content">
        {{- partial "header.html" . -}}
        <div id="main-padding">
            <div id="main">
                {{- block "main" . }}{{- end }}
            </div>
        </div> 
    </div>
    {{- partial "footer.html" . -}}

    

    {{ $jsDemeesterDev   := resources.Get "js/demeester.dev.js" }}
    {{ $scriptDemeesterDev := $jsDemeesterDev | resources.Minify | resources.Fingerprint "sha512"}}
    <script src="{{ $scriptDemeesterDev.Permalink }}"
        integrity="{{ $scriptDemeesterDev.Data.Integrity }}"></script>
</body>

</html>