<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{$.Site.Title}}{{ if not .IsHome }} - {{.Title}}{{end}}</title>

{{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
{{ $cssDemeesterDev   := resources.Get "sass/_all.sass" | resources.ExecuteAsTemplate "main.sass" . | resources.ToCSS $options }}
{{ $cssDemeesterDevIcons   := resources.Get "css/demeester.dev.icons.css" }}
{{ $cssDemeesterDevBudle := slice $cssDemeesterDev $cssDemeesterDevIcons | resources.Concat "cd/demeester.dev.bundle.css"}}
{{ $styleDemeesterDevBundle := $cssDemeesterDevBudle | resources.Minify | resources.Fingerprint "sha512"}}
<link rel="stylesheet" 
        href="{{ $styleDemeesterDevBundle.Permalink }}"
        integrity="{{ $styleDemeesterDevBundle.Data.Integrity }}"
    >